<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none"> Study Borad </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Solutions</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Plans</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">About Us</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Careers</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-bold me-2">Login</button>
                <button type="button" class="btn btn-warning">Book a Demo</button>
            </div>
        </div>
    </div>
</header>