<div class="p-5 text-center bg-body-tertiary">
    <h1 class="mb-3">Integrated School Platform</h1>
    <h4 class="mb-3">Your co-pilot for</h4>
    <p>automating attendance</p>
    <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Book Demo</a>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- <ngb-carousel>
                <ng-template ngbSlide *ngFor="let product of products">
                    <img [src]="product.imageUrl" alt="{{ product.name }}">
                    <div class="carousel-caption">
                        <h3>{{ product.name }}</h3>
                    </div>
                </ng-template>
            </ngb-carousel> -->
        </div>
    </div>
</div>